/*Site Structure and grid specs */

.wrapper {
  border: 3px solid #c3c3c3;
  background-color: #008080;
}

.columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 20%;
  height: 500px;
  width: 100vw;
  min-block-size: 100px;
  background-color: #008080;
  padding: 5px;
  gap: 5px;
}

.left-content {
  display: grid;
  grid-template-areas:
    "title title title title title"
    "tags tags tags tags tags"
    "project project image image image"
    "project project image image image"
    "footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
}

.right-content {
  display: grid;
  grid-template-areas:
    "title title title title title"
    "tags tags tags tags tags"
    "image image image project project"
    "image image image project project"
    "footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
}

.center-content {
  display: grid;
  grid-template-areas:
    "title title title title title"
    "tags tags tags tags tags"
    "left-image project project project right-image"
    "left-image project project project right-image"
    "footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
}
.tags {
  grid-area: tags;
  font-family: "Times New Roman", serif;
  color: white;
}
.project {
  grid-area: project;
  border: 2px groove #c3c3c3;
  padding: 5px;
  font-family: "Microsoft", sans-serif;
  font-weight: bold;
  column-count: 1;
  background: white;
}

.title {
  grid-area: title;
  font-family: "Microsoft", sans-serif;
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 10px;
  background: #000376;
}

.image {
  grid-area: image;
  border: 3px solid #c3c3c3;
}
.divider {
  border-style: hidden hidden double hidden;
  border-color: #c3c3c3;
  padding: 5px;
}

.left-image {
  grid-area: left-image;
  border: 3px solid #c3c3c3;
}

.right-image {
  grid-area: right-image;
  border: 3px solid #c3c3c3;
}

.footer {
  grid-area: footer;
}

/* Content Display and Packaging */
.main-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 200px;
  width: 100px;
  background-color: #008080;
}
.password-box {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 3px solid #c3c3c3;
  background-image: url("./Assets/biotextwindow.png");
  background-size: cover;
  transition-duration: 3s;
  overflow: scroll;
  width: 500px;
  height: 500px;
}

.bio {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 3px solid #c3c3c3;
  background-image: url("./Assets/Biowindow.png");
  background-size: cover;
  transition-duration: 3s;
  overflow: scroll;
  width: 500px;
  height: 500px; 
}
.bioimg {
 padding: 50px 50px 50px 50px;
}

.box1-content {
  border: 3px solid #c3c3c3;
  background-color: #004d4d;
  background-image: url("./Assets/UXwindow.png");
  background-size: cover;
  cursor: pointer;
  transition: 0.3s;
}

.box1-content:hover {
  opacity: 0.7;
}

.box1-closed {
  overflow-x: hidden;
  transition-duration: 3s;
  width: 0;
  height: 0;
  background-color: #004d4d;
}

.box1-open {
  border: 3px solid #c3c3c3;
  background-color: #c4c4c4;
  background-image: url("./Assets/Win95Template.png");
  background-size: cover;
  transition-duration: 3s;
  overflow: scroll;
  width: 500px;
  height: 500px;
}

.box2-content {
  border: 3px solid #c3c3c3;
  background-color: #004d4d;
  background-image: url("./Assets/Parkpasswindow.png");
  background-size: cover;
  cursor: pointer;
  transition: 0.3s;
}

.box2-content:hover {
  opacity: 0.7;
}


.box2-closed {
  overflow-x: hidden;
  transition-duration: 3s;
  width: 0;
  height: 0;
  background-color: #004d4d;
}

.box2-open {
  border: 3px solid #c3c3c3;
  background-color: #008080;
  background-image: url("./Assets/Win95Template.png");
  background-size: cover;
  overflow-x: hidden;
  transition-duration: 3s;
  overflow: scroll;
  width: 500px;
  height: 500px;
}

.box3-content {
  border: 3px solid #c3c3c3;
  background-color: #004d4d;
  background-image: url("./Assets/Runescapewindow.png");
  background-size: cover;
  cursor: pointer;
  transition: 0.3s;
}

.box3-content:hover {
  opacity: 0.7;
} 


.box3-closed {
  overflow-x: hidden;
  transition-duration: 3s;
  width: 0;
  height: 0;
  background-color: #004d4d;
}

.box3-open {
  border: 3px solid #c3c3c3;
  background-color: #008080;
  background-image: url("./Assets/Win95Template.png");
  background-size: cover;
  transition-duration: 3s;
  overflow: scroll;
  width: 500px;
  height: 500px;
}

.box4-content {
  border: 3px solid #c3c3c3;
  background-color: #004d4d;
  background-image: url("./Assets/Restaurantwindow.png");
  cursor: pointer;
  transition: 0.3s;
}

.box4-content:hover {
  opacity: 0.7;
}

.box4-closed {
  overflow-x: hidden;
  transition-duration: 3s;
  width: 0;
  height: 0;
  background-color: #004d4d;
}

.box4-open {
  border: 3px solid #c3c3c3;
  background-color: #008080;
  background-image: url("./Assets/Win95Template.png");
  background-size: cover;
  transition-duration: 3s;
  overflow: scroll;
  width: 500px;
  height: 500px;
}

.box5-content {
  border: 3px solid #c3c3c3;
  background-color: #004d4d;
  background-image: url("./Assets/Censuswindow.png");
  background-size: cover;
  cursor: pointer;
  transition: 0.3s;
}

.box5-content:hover {
  opacity: 0.7;
}

.box5-closed {
  overflow-x: hidden;
  transition-duration: 3s;
  width: 0;
  height: 0;
  background-color: #004d4d;
}

.box5-open {
  border: 3px solid #c3c3c3;
  background-color: #008080;
  background-image: url("./Assets/Win95Template.png");
  background-size: cover;
  transition-duration: 3s;
  overflow: scroll;
  width: 500px;
  height: 500px;
}
